<div xmlns:th="http://www.thymeleaf.org" th:fragment="lib">
	<!-- 全局js -->
	<script th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
	<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
	<script th:src="@{/js/jquery.contextMenu.min.js}"></script>
	<script th:src="@{/ajax/libs/blockUI/jquery.blockUI.js}"></script>
	<script th:src="@{/ajax/libs/layer/layer.min.js}"></script>
	<script th:src="@{/ruoyi/js/ry-ui.js?v=4.0.0}"></script>
	<script th:src="@{/ruoyi/index.js}"></script>
	<script th:src="@{/ajax/libs/fullscreen/jquery.fullscreen.js}"></script>
</div>