<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/head::header('用户信息')"></head>
<body>
<div class="panel-group">
	<div class="panel-default panel">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#dqpb" data-toggle="collapse" data-parent="#accordion">1.th:each 这里是查询所有用户页面</a>
			</h4>
		</div>
		<div id="dqpb" class="panel-collapse collapse">
			<div class="panel-body">
				<a th:href="@{/user}"><h3 class="btn btn-primary btn-success">添加</h3></a>
				<table class="table table-bordered" >
					<thead>
					<tr>
						<th>th:text=${user.id}=>Id</th>
						<th th:utext="'[[${user.name}]]行内样式name'"></th>
						<th>th:text="${user.gender}==0?'女':'男'"gender</th>
						<th>birthday</th>
						<th>department</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<tr th:each="user:${users}">
						<td th:text="${user.id}"></td>
						<td>[[${user.name}]]</td>
						<td th:text="${user.gender}==0?'女':'男'"></td>
						<td th:text="${#dates.format(user.birth,'yyyy-MM-dd')}"></td>
						<td th:text="${user.department.name}"></td>
						<td>
							<a th:href="@{/user/}+${user.id}" class="bottom btn btn-success">编辑</a>
							<button th:attr="del_uri=@{/user/}+${user.id}" type="submit"
							        class="bottom btn btn-danger deleteBtn">删除
							</button>
						</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<form id="deleteUserForm" method="post">
		<input type="hidden" name="_method" value="delete">
	</form>
</div>
<th:block th:include="components/lib :: footer"/>
<script>
    $(".deleteBtn").click(function () {
        //删除指定员工
        $("#deleteUserForm").attr("action", $(this).attr("del_uri")).submit();
    });
</script>
</body>
</html>